@media(max-width: 1199px) {
    .search-result {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (max-width: 768px) {
    .search-result {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 500px) {
  
    .search-result {
      grid-template-columns:  1fr;
    }

  }